// Trigger Reset Action on Corresponding Form to Clear Form
| $("#new_reply_on_#{@comment.parent_id}").trigger('reset');
| autosize.update($("#new_reply_on_#{@comment.parent_id} > textarea"));

// Update Replies Count of Corresponding Parent Object
| $("span#replies_count_on_#{@comment.parent_id}").html("#{@comment.parent.replies.size}&nbsp;則回覆&ensp;");

// Render Newly Created Comments
| content = $("##{@comment.parent_id}_reply").append('
= j render 'courses/comments/replies/reply', reply: @comment
| ');
| $('body').animate({scrollTop: $("##{@comment.id}_reply").position().top}, 800);

// Processing Relative Time
| $('##{@comment.parent_id}_reply .date').each(function() {
|  var date = $(this).data('date');
|  var date_formatted = moment(date).startOf('minute').fromNow();
|  $(this).text(date_formatted);
|});
