language: ruby
sudo: false
cache: bundler
rvm:
  - 2.2.4
  - 2.3.0
before_install:
  - gem install bundler
before_script:
  - bundle update
  - psql -c 'create database coursewiki_test;' -U postgres
  - cp config/database.yml.travis config/database.yml
  - bin/rake db:migrate RAILS_ENV=test
services:
  - postgresql
  - redis-server
addons:
  postgresql: "9.4"
  code_climate:
    repo_token: ac82785a8b72ce12a4778ca56e43bf844cefbffcfa533eebc103fb090f4cdc23
