/* Breakpoint mixin (Desktop first) */
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 991px)  { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 767px)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 567px)  { @content ; }
  }
}

@keyframes beating {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: rotate(20deg) scale(1, 1);
  }
  60% {
    transform: rotate(-20deg) scale(1.3, 1.3);
  }
  85% {
    transform: rotate(20deg) scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}
