/* color */
$font-color: white;
$bg-color: #f6f6f6;
$dark-bg-color: #19272c;
$primary-color: #61b2a7;
$orange: #F57C00;
$black: black;
$gray700: #616161;
$gray500: #9E9E9E;

/* font-size */
$fz-l: 32px;
$fz-m: 24px;
$fz-s: 18px;
$fz-xs: 16px;

/*comment-vote*/$text-indent: 30px;
/*comment-content*/$inner-padding: 15px;