<div class="jumbotron text-center">
  <div class="m-title icon-float">
  	<h1><strong>中原選課大全<span class="sr-only">簡介</span></strong><i class="fa fa-graduation-cap"></i></h1>
  </div>
  <p>中原選課大全是專門給中原大學同學分享修課經驗的地方。請大家踴躍分享修課經驗，以理性代替謾罵。</p>
  <%= link_to '選課查詢 GO', courses_path, class: 'btn btn-lg m-btn' %>
</div>