<div class="bs-docs-section">
  <div class="page-header">
    <form class="form-inline">
      <div class="row">
        
          <div class="form-group">
            <input type="text" class="form-control" id="inputDefault" placeholder="課程代碼">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="inputDefault" placeholder="課程名稱">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="inputDefault" placeholder="授課教師">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">查詢</button>
          </div>
                
       
      </div>
      <div class="row">
        <div class="btn-group form-group" data-toggle="buttons">
        <label for="asda" class="btn btn-warning"><input type="checkbox" name="asdddss">Info</label>
        </div>
      </div>
    </form>
  </div>
</div>