.row
  .col-md-4
    .fixed-aside
      = render 'search_form'

  .col-md-8.search-result
    section.row.mg-lr-xs-2
      h1.m-title
        strong 課程查詢結果
      dl#courseInfoList.panel-group role='tablist' aria-multiselectable='true'
        - @courses.each do |course|
          - cache course do
            dd.panel
            h1.sr-only = course.title
            section.panel-heading role='tab' id="heading_#{course.id}"
              header.panel-title
                ul.course-info.list-unstyled.mg-b-10.clearfix
                  li.col-xs-6.col-sm-3
                    i.fa.fa-star aria-hidden='true'
                    span.superscript-title Rank #
                    h2 id="rank_on_course_#{course.id}" = "#{course.score}/#{course.votes_count}"
                  li.col-xs-6.col-sm-3
                    i.fa.fa-list-alt aria-hidden='true'
                    span.superscript-title 課程名稱
                    h2 = course.title
                  li.col-xs-6.col-sm-3
                    i.fa.fa-user aria-hidden='true'
                    span.superscript-title 授課教師
                    h2 = course.instructor
                  li.col-xs-6.col-sm-3
                    i.fa.fa-tag aria-hidden='true'
                    span.superscript-title 課程類別
                    h2 = course.category
                  ul
                    li.col-xs-6.col-sm-9
                      = link_to  course_vote_path(course_id: course.id, upvote: true), class: "btn m-btn-check like mg-t-10 button_to btn-vote-course #{vote_status(course, true)}", method: :post, remote: true do
                        | 推
                        span.fa.fa-thumbs-o-up aria-hidden='true'
                      = link_to  course_vote_path(course_id: course.id, upvote: false), class: "btn m-btn-check dislike mg-t-10 btn-vote-course #{vote_status(course, false)}", method: :post, remote: true do
                        | 噓
                        span.fa.fa-thumbs-o-down aria-hidden='true'
                    li.col-xs-6.col-sm-3
                      a.btn.m-btn.mg-t-10 href="##{course.instructor}_#{course.id}" data-toggle='collapse' aria-expanded='true' aria-controls="#{course.instructor}_#{course.id}"
                        | 開課資訊

            section.panel-collapse.collapse.in id="#{course.instructor}_#{course.id}" role='tabpanel' aria-labelledby="heading_#{course.id}"
              = render 'courses/entries/index', course: course, cache: true

            footer.panel-footer
              = render 'courses/comments/index', course: course, cache: true

    .text-center
      = paginate @courses, :window => 2
