/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require shared/bootstrap-base
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

$font-color: white;
$dark-bg-color: #19272c;
$primary-color: #f25111;

body {
	font-family: 'Ubuntu', '微軟正黑體', sans-serif;
  padding-top: 70px;  /* Fix navbar overlay problem */
}

a {
  &:link,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    color: inherit;
  	outline: none;
  }
}

.wrapper {
	min-height: 80vh;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-b-10 {
  margin-bottom: 10px
}

@media screen and (max-width: 768px) {
  .mg-lr-xs-2 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.page-footer {
  background-color: $dark-bg-color;
  color: $font-color;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    margin: 0;
    line-height: 2;
    a {
      border-bottom: 1px #999 dashed;
    }
  }
  span {
    white-space: nowrap;
  }
  .share-btn a {
    font-size: 32px;
    line-height: 56px;
    &:last-child {
      margin-left: 10px;
    }
  }
  a:hover {
    color: $primary-color;
  }
}