// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-info li {
  display: inline-block;
  position: relative;
}
.course-info span {
  padding-left: 35px;
  margin: 0;
  color: #939393;
  font-size: 12px;
  line-height: 1.2em;
}
.course-info h2 {
  padding-left: 35px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}
.course-info i {
  font-size: 25px;
  position: absolute;
  padding-right: 2.5em;
  top: 20%;
}
.panel-group .panel {
  margin-bottom: 20px;
}
