// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*comment-vote*/$text-indent: 30px;
/*comment-content*/$inner-padding: 15px;

/* Breakpoint mixin (Desktop first) */
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 991px)  { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 767px)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 567px)  { @content ; }
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.course-info li {
  display: inline-block;
  position: relative;
}
span.superscript-title {
  padding-left: 35px;
  margin: 0;
  color: #939393;
  font-size: 12px;
  line-height: 1.2em;
}
.course-info h2 {
  padding-left: 35px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}
.course-info i {
  font-size: 25px;
  position: absolute;
  top: 20%;
}
.panel-group .panel {
  margin-bottom: 20px;
}

.fixed-aside {
  position: fixed;
  @include breakpoint(tablet) {
    position: relative;
  }
}

.search-form {
  width: 45%;
  margin-top: 30px;
  .jumbotron {
    padding-right: 20px;
    padding-left: 20px;
  }
  .search-buttons {
    margin: 30px 0;
    text-align: justify;
  }
  @include breakpoint(laptop) {
    width: 37%;
  }
  @include breakpoint(tablet) {
    width: 100%;
    margin-top: 0px;
  }
}

.comment-panel {
  padding: 0 10px;
}

.comment-table {
  display: table;
  width: 100%;
  h1 {
    margin-bottom: 15px;
  }
  a {
    &:link,
    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
      color: inherit; 
    }
  }
}

.comment-list {
  &:not(:first-of-type)::before {
    display: block;
    content: '';
    height: 6px;
    background: image-url("comment/slash.png") repeat-x 0 0;
    border: 0;
    margin-bottom: 15px;
  }
  &:first-of-type::before {
    display: block;
    content: '';
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
  }
  .comments {
    .vote {
      display: table-cell;
      font-size: 20px;
      width: $text-indent;
      text-align: center;
    }
    .comment-content {
      display: table-cell;
      padding-right: $inner-padding;
      padding-left: $inner-padding;
      p {
        min-height: 60px;
      }
      .comment-info {
        padding-bottom: $inner-padding;
      }
    }
  }
}

.reply-list {
  margin-left: $text-indent;
  padding: $inner-padding;
  padding-top: 0;
  .replies {
    background-color: #e5e5e5;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1em;
    .vote {
      display: block;
      i {
        padding: 0 0.5rem;
      }
    }
  }
}

.comment-block,
.reply-block {
  textarea {
    padding: 10px;
    width: 100%;
    min-height: 5.5em;
    resize: none;
    overflow: hidden;
    border: 2px solid #e5e5e5;
    border-radius: 4px 4px 0 0;
  }

  button[type="submit"] {
    background-color: #f6f8f9;
    border: 2px solid #e5e5e5;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    text-align: left;
  }
}

.reply-block {
  margin-left: $text-indent;
  margin-bottom: 15px;
  padding: 0 $inner-padding;
}
