/* Layout */
/* Nav */
nav {
  background-color: $primary-color;
  color: $font-color;
  h1 {
    margin: 0;
    float: left;
    font-size: $fz-m;
    line-height: 50px;
  }
  .nav-item {
    display: inline-block;
    font-size: $fz-s;
    line-height: 50px;
    a {
      padding: 15px 10px;
      color: #eee;
      &:hover {
        color: $font-color;
      }
    }
  }
  @include breakpoint(phablet) {
    .nav-list {
      position: fixed;
      overflow: hidden;
      -webkit-transform: translateX(-120%);
          -ms-transform: translateX(-120%);
              transform: translateX(-120%);
      top: 0;
      background-color: darken($primary-color, 5);
      height: 100%;
      width: 100%;
      text-align: left;
      margin-left: -15px;
      margin-top: 50px;
      .nav-item {
        display: block;
        clear: both;
        a {
          transition: 0.5s;
          display: block;
          &:hover {
            background-color: darken($primary-color, 10);
          }
          &:focus {
            background-color: darken($primary-color, 15);
          }
          &::before {
            display: none;
          }
        }
      }
      .dropdown-menu {
        box-shadow: none;
        border: 0;
        width: 100%;
      }
      &.open {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        transition: 0.5s;
      }
    }
  }
  .dropdown-menu {
    background-color: darken($primary-color, 5);
    margin-left: 30px;
    min-width: 200px;
    a {
      transition: 0.5s;
      font-size: $fz-s;
      &:hover {
        background-color: darken($primary-color, 10);
      }
      &:focus {
        background-color: darken($primary-color, 15);
      }
    }
  }
}

.nav-btn {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 999;
  background-color: $primary-color;
  border: 0;
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 0 auto;
    background-color: $font-color;
    margin-bottom: 5px;
    transition: 0.3s;
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
        -ms-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  &.active {
    .icon-bar:first-child {
      -webkit-transform: rotate(405deg) translate3d(6px, 6px, 0px);
          -ms-transform: rotate(405deg) translate3d(6px, 6px, 0px);
              transform: rotate(405deg) translate3d(6px, 6px, 0px);
    }
    .icon-bar:nth-child(2) {
      width: 40px;
      opacity: 0;
    }
    .icon-bar:last-child {
      -webkit-transform: rotate(-405deg) translate3d(6px, -6px, 0px);
          -ms-transform: rotate(-405deg) translate3d(6px, -6px, 0px);
              transform: rotate(-405deg) translate3d(6px, -6px, 0px);
    }
  }
}

/* Footer */
.page-footer {
  background-color: $dark-bg-color;
  color: $font-color;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    margin: 0;
    line-height: 2;
    a {
      border-bottom: 1px #999 dashed;
    }
  }
  span {
    white-space: nowrap;
  }
  .share-btn a {
    font-size: 32px;
    line-height: 56px;
    &:last-child {
      margin-left: 10px;
    }
  }
  a:hover {
    color: $orange;
  }
  @include breakpoint(phablet) {
    text-align: center;
  }
}

/* To top button */
.totop {
  display: none;
  position: fixed;
  font-size: $fz-m;
  right: 5px;
  bottom: 5px;
  z-index: 99;
  text-align: center;
  span {
    display: block;
    background-color: $primary-color;
    color: #fff;
    border-radius: 10%;
    padding: 5px;
    margin-top: 3px;
  }
  &::before {
    content: '';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-width: 0 25px 18px;
    border-style: solid;
    border-color: transparent transparent $orange;
  }
}

/* Jumbotron */
.jumbotron {
  background-image: image-url('bg.png');
  background-color: lighten($primary-color, 50);
  border-top: 10px solid $primary-color;
  box-shadow: 0 5px 15px 3px lightgray;
  .icon-float {
    position: relative;
    i {
      position: absolute;
      -webkit-transform: rotate(30deg) scaleX(-1) translate3d(30px, 15px, 0);
          -ms-transform: rotate(30deg) scaleX(-1) translate3d(30px, 15px, 0);
              transform: rotate(30deg) scaleX(-1) translate3d(30px, 15px, 0);
      top: -40px;
      color: $orange;
      @include breakpoint(phablet) {
        -webkit-transform: rotate(30deg) scaleX(-1) translate3d(10px, 25px, 0);
            -ms-transform: rotate(30deg) scaleX(-1) translate3d(10px, 25px, 0);
                transform: rotate(30deg) scaleX(-1) translate3d(10px, 25px, 0);
      }
    }
  }
  p {
    min-height: 100px;
    @include breakpoint (mobileonly) {
      text-indent: 2em;
      text-align: justify;
    }
  }
  @include breakpoint(phablet) {
    padding: 30px;
  }
  form {
    font-size: $fz-xs;
  }
  .links a {
    display: block;
    background-color: lighten($orange, 45);
    color: #555;
    font-size: $fz-xs;
    line-height: 2;
    padding: 5px 0;
    text-indent: 7.5%;
    border-radius: 5px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:hover {
      background-color: lighten($orange, 40);
      color: #000;
    }
    &:focus {
      background-color: lighten($orange, 35);
      color: #000;
    }
  }
}