/* Module */
.m-title {
  position: relative;
  margin-bottom: 50px;
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 30%;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    background-color: $orange;
  }
}

a.m-btn,
button.m-btn,
input.m-btn {
  background-color: $primary-color;
  color: #eee;
  line-height: 24px;
  vertical-align: middle;
  &:hover {
    background-color: darken($primary-color, 5);
    color: $font-color;
  }
  &:focus {
    background-color: darken($primary-color, 10);
    color: $font-color;
  }
}

.m-divider {
  position: relative;
  color: $orange;
  font-size: $fz-m;
  padding-left: 7.5%;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    height: 3px;
    width: 5%;
    background-color: $orange;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    height: 3px;
    width: 85%;
    background-color: $orange;
    @include breakpoint(mobileonly) {
      width: 80%;
    }
  }
}
a.m-btn-check,
button.m-btn-check {
	position: relative;
	z-index: 1;
	overflow: hidden;
    color: $font-color;
	&::before {
		position: absolute;
		z-index: -1;
		content: '';
		display: block;
		padding: 2rem 3rem;
		right: 120%;
		top: -20%;
		border-style: dotted;
		border-width: 0 5px 0 0;
		background-color: #fff;
		transition: right 0.5s;
	}
	&::after {
		position: absolute;
		display: block;
		content: '\2713';
		width: 50%;
		right: 0;
		top: 40%;
		transform: translateY(-50%);
		font-size: 2rem;
		font-weight: bold;
		color: transparent;
		background-color: transparent;
	}
	span {
		margin-right: 0;
		margin-left: 0.5rem;
	}
}
