<p><%= @resource.email %> 安安</p>

<p>有人申請更換此帳號的密碼，你可以在24小時之內點擊以下的連結進行修改</p>

<p><%= link_to '修改密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>或是把網址貼進瀏覽器</p>

<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你沒有申請更換密碼，直接忽略此信即可。密碼只有在點擊信中連結並輸入新的密碼後才會被修改</p>

<%= render 'footer' %>
