<p><%= @resource.email %> 安安</p>

<p>有人試圖登入你的帳號，因此帳號已被鎖定30分鐘</p>

<p>點擊以下的連結進行立即解鎖</p>

<p><%= link_to '解鎖我的帳號', unlock_url(@resource, unlock_token: @token) %></p>

<p>或是把網址貼進瀏覽器</p>

<p><%= unlock_url(@resource, unlock_token: @token) %></p>

<%= render 'footer' %>
