<footer class="page-footer">
  <div class="container">
    <div class="col-sm-2 col-sm-push-10 share-btn">
      <a href="https://www.facebook.com/CourseNote"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/atitan/coursenote"><i class="fa fa-github"></i></a>
    </div>
    <div class="col-sm-10 col-sm-pull-2">
      <p>
        <span>Copyright &copy; atitan, and all contributors.</span>
        <span>Code released under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</span>
      </p>
      <p>
        <span>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. </span>
        <span>Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. </span>
        <span>Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</span>
      </p>
    </div>
  </div>
</footer>